###############################################
# Plex settings 
###############################################
PLEX_CLAIM=$PLEX_CLAIM
# uncomment this if your media directory is somewhere else on the host
# and your are NOT using NFS
PLEX_MEDIA_VOLUME=$PLEX_MEDIA_VOLUME
PLEX_ALLOWED_NETWORKS=PLEX_ALLOWED_NETWORKS