###############################################
# Authentik settings 
###############################################
#AUTHENTIK_SECRET_KEY=<a very secret password> <openssl rand -hex 25>
#PG_PASS_AUTHENTIK=<Postgres Password> <openssl rand -hex 25>
#AUTHENTIK_AUTH_DOMAIN=${AUTH_DOMAIN}
#AUTHENTIK_BOOTSTRAP_PASSWORD=<openssl rand -hex 25>

###############################################
# Cloudflare ddns settings 
###############################################
#CLOUDFLARE_DDNS_HOSTNAME=${HOST_NAME}

###############################################
# CloudflareD settings 
###############################################
#CLOUDFLARED_TOKEN=<your token here>
#CLOUDFLARE_TUNNEL_NAME=${HOST_NAME}.tunnel
#CLOUDFLARE_TUNNEL_HOSTNAME=${HOST_NAME}.${HOST_DOMAIN}


###############################################
# Radarr Postgresql settings 
###############################################
#RADARR_PG_PASS=<a very secret password>        # openssl rand -hex 16
RADARR_PG_USER=radarr                           # whatever you want

###############################################
# Valheim settings 
#
# Do not use upper case letters in the world name, the server will crash
###############################################
#VALHEIM_SERVER_NAME=
#VALHEIM_WORLD_NAME=
#VALHEIM_SERVER_PASS= 
#VALHEIM_NETWORK=

###############################################
# Woodpecker settings 
###############################################
#WOODPECKER_AGENT_SECRET=<openssl rand -hex 32> # openssl rand -hex 6
#WOODPECKER_ADMIN=<admin>                       # Used to seed an admin user account at startup
#WOODPECKER_GITEA_CLIENT=<client id>            # Gitea oauth Client ID
#WOODPECKER_GITEA_SECRET=<super secret>         # Gitea oauth Client Secret

###############################################
# WordPress settings 
###############################################
#WORDPRESS_DATABASE_HOST=mariadb
#WORDPRESS_DATABASE_USER=wordpress
#WORDPRESS_DATABASE_PASSWORD=<super_secure_password>
#WORDPRESS_DATABASE_NAME=wordpress

###############################################
# WG-easy settings 
###############################################
#WG_EASY_HOST=
#WG_EASY_ALLOWED_IPS=
