###############################################
# Authentik settings 
###############################################
#AUTHENTIK_SECRET_KEY=<a very secret password> <openssl rand -hex 25>
#PG_PASS_AUTHENTIK=<Postgres Password> <openssl rand -hex 25>
#AUTHENTIK_AUTH_DOMAIN=${AUTH_DOMAIN}
#AUTHENTIK_BOOTSTRAP_PASSWORD=<openssl rand -hex 25>

###############################################
# Cloudflare ddns settings 
###############################################
#CLOUDFLARE_DDNS_HOSTNAME=${HOST_NAME}

###############################################
# CloudflareD settings 
###############################################
#CLOUDFLARED_TOKEN=<your token here>
#CLOUDFLARE_TUNNEL_NAME=${HOST_NAME}.tunnel
#CLOUDFLARE_TUNNEL_HOSTNAME=${HOST_NAME}.${HOST_DOMAIN}

###############################################
# CrowdSec settings 
###############################################
# Run this to generate a key and keep it as they won't show you it again
# docker exec crowdsec cscli bouncers add bouncer-traefik 

#TRAEFIK_BOUNCER_API_KEY=some-api-key


###############################################
# Immich Variables
###############################################
#IMMICH_DB_HOSTNAME=immich-database-test
#IMMICH_DB_USERNAME=postgres
#IMMICH_DB_PASSWORD=postgres
#IMMICH_DB_DATABASE_NAME=immich
# Redis
#IMMICH_REDIS_HOSTNAME=immich-redis-test
# Upload File Config
#IMMICH_UPLOAD_LOCATION=./upload
# MAPBOX
## ENABLE_MAPBOX is either true of false -> if true, you have to provide MAPBOX_KEY
#ENABLE_MAPBOX=false
# WEB
#MAPBOX_KEY=
#VITE_SERVER_ENDPOINT=http://localhost:2283/api

#TYPESENSE_ENABLED=false


###############################################
# PTERODACTYL_PANEL settings 
###############################################
#PTETRODACTYL_PANEL_DB_PASSWORD=<super_secure_password>

###############################################
# Radarr Postgresql settings 
###############################################
#RADARR_PG_PASS=<a very secret password>        # openssl rand -hex 16
RADARR_PG_USER=radarr                           # whatever you want

###############################################
# Semaphore settings 
###############################################
#SEMAPHORE_DB_USER=semaphore
#SEMAPHORE_DB_PASS=semaphore
#SEMAPHORE_DB_HOST=mysql
#SEMAPHORE_DB_PORT=3306
#SEMAPHORE_DB_DIALECT=mysql
#SEMAPHORE_DB=semaphore
#SEMAPHORE_PLAYBOOK_PATH=/tmp/semaphore/
#SEMAPHORE_ADMIN_PASSWORD=changeme
#SEMAPHORE_ADMIN_NAME=admin
#SEMAPHORE_ADMIN_EMAIL=admin@localhost
#SEMAPHORE_ADMIN=admin
#SEMAPHORE_ACCESS_KEY_ENCRYPTION=gs72mPntFATGJs9qK0pQ0rKtfidlexiMjYCH9gWKhTU=
#SEMAPHORE_LDAP_ACTIVATED='no' # set to yes if you wish to use ldap
#SEMAPHORE_LDAP_HOST=dc01.local.example.com
#SEMAPHORE_LDAP_PORT='636'
#SEMAPHORE_LDAP_NEEDTLS='yes'
#SEMAPHORE_LDAP_DN_BIND='uid=bind_user,cn=users,cn=accounts,dc=local,dc=shiftsystems,dc=net'
#SEMAPHORE_LDAP_PASSWORD='ldap_bind_account_password'
#SEMAPHORE_LDAP_DN_SEARCH='dc=local,dc=example,dc=com'
#SEMAPHORE_LDAP_SEARCH_FILTER="(\u0026(uid=%s)(memberOf=cn=ipausers,cn=groups,cn=accounts,dc=local,dc=example,dc=com))"

###############################################
# SFTPGo settings 
###############################################
#SFTP_SERVER_PORT

###############################################
# Transmission-openvpn settings 
###############################################
#TRANSMISSION_WEBUI=combustion
#TRANSMISSION_VPN_PROVIDER=PIA
#TRANSMISSION_VPN_CONFIG=france
#TRANSMISSION_VPN_USERNAME=username
#TRANSMISSION_VPN_PASSWORD=<super_secure_password>
#TRANSMISSION_VPN_LOCAL_NETWORK=192.168.0.0/16
# for NORDVPN, see: https://haugene.github.io/docker-transmission-openvpn/provider-specific/#nordvpn
# apply override transmission-vpn-nord to use
#TRANSMISSION_NORDVPN_COUNTRY=US
#TRANSMISSION_NORDVPN_CATEGORY=legacy_p2p
#TRANSMISSION_NORDVPN_PROTOCOL=tcp

###############################################
# Valheim settings 
#
# Do not use upper case letters in the world name, the server will crash
###############################################
#VALHEIM_SERVER_NAME=
#VALHEIM_WORLD_NAME=
#VALHEIM_SERVER_PASS= 
#VALHEIM_NETWORK=

###############################################
# Watchtower settings 
###############################################
#WATCHTOWER_NOTIFICATIONS=shoutrrr
#WATCHTOWER_NOTIFICATION_URL=discord://token@webhookid

###############################################
# Woodpecker settings 
###############################################
#WOODPECKER_AGENT_SECRET=<openssl rand -hex 32> # openssl rand -hex 6
#WOODPECKER_ADMIN=<admin>                       # Used to seed an admin user account at startup
#WOODPECKER_GITEA_CLIENT=<client id>            # Gitea oauth Client ID
#WOODPECKER_GITEA_SECRET=<super secret>         # Gitea oauth Client Secret

###############################################
# WordPress settings 
###############################################
#WORDPRESS_DATABASE_HOST=mariadb
#WORDPRESS_DATABASE_USER=wordpress
#WORDPRESS_DATABASE_PASSWORD=<super_secure_password>
#WORDPRESS_DATABASE_NAME=wordpress

###############################################
# WG-easy settings 
###############################################
#WG_EASY_HOST=
#WG_EASY_ALLOWED_IPS=




# VAULT_ADMIN_SECRET=<openssl rand -base64 48> # openssl rand -base64 48

